<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>hw03</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="vendor/css/bootstrap.css" />
    <link rel="styleSheet" href="vendor/ui-grid_3.0.0-rc.20/ui-grid.css"/>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body ng-app="hw03App">

    <div class="container">
        <div>
            <h1>Lesson 1. Homework</h1>
        </div>

        <button type="button" class="btn btn-default" ng-click="hwShow=!hwShow" ng-show="!hwShow">
            Show lesson content
        </button>
        <button type="button" class="btn btn-primary" ng-click="hwShow=!hwShow" ng-show="hwShow">
            Hide lesson content
        </button>
        <hr />
        <div ng-show="hwShow">
            <div ng-view>
            </div>
        </div>
    </div>
    
    <script src="vendor/js/angular.js"></script>
    <script src="vendor/js/angular-route.min.js"></script>
    <script src="vendor/ui-grid_3.0.0-rc.20/ui-grid.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/factories/persons.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/personEdit.js"></script>
    <script src="scripts/directives/customModal.js"></script>
</body>
</html>