  <div>
    <select class="form-control" ng-model="gridType">
      <option value="table">table</option>
      <option value="grid">grid</option>
    </select>
    <input class="form-control" placeholder="Enter text to filter persons" ng-model="searchText" ng-change="updateGridFilter(searchText)">
    <hr />
    <table class="table" ng-show="gridType=='table'">
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="orderBy('firstName')"> First Name
              <span class="glyphicon glyphicon-triangle-top" ng-show="order.field === 'firstName' && !order.reverse"></span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="order.field === 'firstName' && order.reverse"></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderBy('lastName')"> Last Name
              <span class="glyphicon glyphicon-triangle-top" ng-show="order.field == 'lastName' && !order.reverse"></span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="order.field === 'lastName' && order.reverse"></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderBy('age')"> Age
              <span class="glyphicon glyphicon-triangle-top" ng-show="order.field == 'age' && !order.reverse"></span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="order.field === 'age' && order.reverse"></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderBy('address.city')"> City
              <span class="glyphicon glyphicon-triangle-top" ng-show="order.field == 'address.city' && !order.reverse"></span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="order.field === 'address.city' && order.reverse"></span>
            </a>
          </th>
          <th>
            <select ng-model="phoneType"  class="form-control">
              <option value="home">Home Phone Number</option>
              <option value="fax">Fax Number</option>
            </select>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in persons | orderBy:order.field:order.reverse | filter:searchText">
          <td><a href="#/person/{{person.id}}">{{person.firstName}}</a></td>
          <td>{{person.lastName}}</td>
          <td>{{person.age}}</td>
          <td>{{person.address.city}}</td>
          <td>{{(person.phoneNumber | filter:phoneType)[0].number}}</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="showModal(person)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-show="gridType=='grid'" ui-grid="gridOptions" ui-grid-edit class="grid"></div>

    <custom-modal
            header="modal.person.firstName+' '+modal.person.lastName"
            show="modal.show"
            ok-text="ok"
            cancel-text="cancel"
            oncancel="modalCancel"
            onsubmit="modalSubmit">
      <ul>
        <li>
          <p><label>Age:</label> {{modal.person.age}}</p>
        </li>
        <li>
          <p><label>Street:</label> {{modal.person.address.streetAddress}}</p>
        </li>
        <li>
          <p><label>City:</label> {{modal.person.address.city}}</p>
        </li>
        <li>
          <p><label>State:</label> {{modal.person.address.state}}</p>
        </li>
        <li>
          <p><label>postalCode:</label> {{modal.person.address.postalCode}}</p>
        </li>
        <li>
          <p><label>Home number:</label> {{(modal.person.phoneNumber | filter:'home')[0].number}}</p>
        </li>
        <li>
          <p><label>Fax Number:</label> {{(modal.person.phoneNumber | filter:'fax')[0].number}}</p>
        </li>
      </ul>
    </custom-modal>

    
    <div ng-show="lastViewedPerson" class="text-danger">
      <h3>Last viewed: {{lastViewedPerson.firstName}} {{lastViewedPerson.lastName}}</h3>
    </div>
  </div>