<div class="modal" ng-show="show" style="display: block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="oncancel(person)"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{header}}</h4>
            </div>
            <div class="modal-body" ng-transclude>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="oncancel(person)">{{cancelText||'Close window'}}</button>
                <button type="button" class="btn btn-primary" ng-click="onsubmit(person)">{{okText||'Submit'}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
