<h1>Edit person: {{person.firstName}} {{person.lastName}}</h1>
<hr />
<form class="form" name="form" ng-submit="save(form)" novalidate>
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <label for="AgeInput" ng-class="form.age.$valid?'':'text-danger'">Age *</label>
                <input ng-model="person.age" required min="0" max="200" name="age" type="number" class="form-control" id="AgeInput" placeholder="Enter age">
                <div class="text-danger" ng-show="form.age.$error.min">Age should be a positive value.</div>
                <div class="text-danger" ng-show="form.age.$error.max">Unfortunately 199 years is our current system limit.</div>
                <div class="text-danger" ng-show="form.age.$error.max">Please contact Laws of Nature in case of questions.</div>
                <div class="text-danger" ng-show="form.age.$error.required">Age is required.</div>
            </div>
            <div class="form-group">
                <label for="StreetInput">Street</label>
                <input ng-model="person.address.streetAddress" name="street" type="text" class="form-control" id="StreetInput" placeholder="Enter street">
            </div>
            <div class="form-group">
                <label for="CityInput" ng-class="form.city.$valid?'':'text-danger'">City *</label>
                <input ng-model="person.address.city" required  ng-minlength="2" ng-maxlength="50" name="city" type="text" class="form-control" id="CityInput" placeholder="Enter city">
                <div class="text-danger" ng-show="form.city.$error.minlength">City name should be more than 2 characters.</div>
                <div class="text-danger" ng-show="form.city.$error.maxlength">City name should be less than 50 characters.</div>
                <div class="text-danger" ng-show="form.city.$error.required">City is required.</div>
            </div>
            <div class="form-group">
                <label for="StateInput">State</label>
                <input ng-model="person.address.state" name="state" type="text" class="form-control" id="StateInput" placeholder="Enter state">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="PostalCodeInput" ng-class="form.postalCode.$valid?'':'text-danger'">Postal Code *</label>
                <input ng-model="person.address.postalCode" required name="postalCode" type="text" class="form-control" id="PostalCodeInput" placeholder="Enter postal code">
                <div class="text-danger" ng-show="form.postalCode.$error.required">Postal Code is required.</div>
            </div>
            <div class="form-group">
                <label for="HomeNumberInput" ng-class="form.homePhoneNumber.$valid?'':'text-danger'">Home Number *</label>
                <input ng-model="homePhoneNumber" required ng-pattern="/^[0-9]{3}[-. ]*[0-9]{3}[-. ]*[0-9]{4}$/" name="homePhoneNumber" type="text" class="form-control" id="HomeNumberInput" placeholder="Enter home number">
                <div class="text-danger" ng-show="form.homePhoneNumber.$error.pattern">Please enter correct Phone (10 digits).</div>
                <div class="text-danger" ng-show="form.homePhoneNumber.$error.required">Phone is required.</div>
            </div>
            <div class="form-group">
                <label for="FaxNumberInput" ng-class="form.faxNumber.$valid?'':'text-danger'">Fax Number *</label>
                <input ng-model="faxNumber" required ng-pattern="/^[0-9]{3}[-. ]*[0-9]{3}[-. ]*[0-9]{4}$/" name="faxNumber" type="text" class="form-control" id="FaxNumberInput" placeholder="Enter fax number">
                <div class="text-danger" ng-show="form.faxNumber.$error.pattern">Please enter correct Fax Number (10 digits).</div>
                <div class="text-danger" ng-show="form.faxNumber.$error.required">Fax Number is required.</div>
            </div>
        </div>
    </div>
    <hr />

    <div class="text-right">
        <button type="button" class="btn btn-default" ng-click="cancel(person)">Cancel</button>
        <button class="btn btn-primary" type="submit" translate>Update</button>
        <div class="text-danger" ng-show="!form.$valid">Please correct errors in the form above.</div>
    </div>
</form>
